<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
</head>
<body>
  <button type="button"
    class="fixed z-50 flex items-center justify-center p-3 text-white bg-gray-900 rounded-full focus:outline-none xl:hidden bottom-24 right-8"><span
        class="sr-only">Open site navigation</span> <svg viewBox="0 0 24 24" fill="none"
        xmlns="http://www.w3.org/2000/svg" class="w-8 h-8">
        <path d="M21 18H9V16H21V18ZM21 13H3V11H21V13ZM21 8H9V6H21V8Z" fill="currentColor"></path>
    </svg>
    <!---->
</button>

<section class="relative">
    <nav class="flex justify-between bg-gray-100 border-b">
      <div class="px-12 py-8 flex w-full items-center">
        <a class="lg:mr-8 2xl:mr-20 text-3xl font-bold font-heading" href="#">
          <img class="h-9" src="yofte-assets/logos/yofte-logo.svg" alt="" width="auto">
        </a>
        <div class="hidden xl:flex max-w-xs py-3 pl-8 pr-2 bg-white rounded-lg">
          <svg class="w-8 h-10 mr-2" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.5 17.1309L12.5042 11.9551" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M7.27524 13.8672C10.8789 13.8672 13.8002 10.945 13.8002 7.34033C13.8002 3.73565 10.8789 0.813477 7.27524 0.813477C3.67159 0.813477 0.750244 3.73565 0.750244 7.34033C0.750244 10.945 3.67159 13.8672 7.27524 13.8672Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <input class="w-full border-0 focus:ring-transparent focus:outline-none py-2" type="text" placeholder="">
          <select class="pl-6 pr-6 border-0 border-l border-gray-100 focus:border-gray-100 focus:ring-transparent focus:outline-none cursor-pointer" name="" id="">
            <option>All&nbsp;items</option>
            <option>Collection</option>
            <option>Option</option>
          </select>
        </div>
        <ul class="hidden xl:flex px-4 mx-auto font-semibold font-heading">
          <li class="mr-12"><a class="hover:text-gray-600" href="#">Category</a></li>
          <li class="mr-12"><a class="hover:text-gray-600" href="#">Collection</a></li>
          <li class="mr-12"><a class="hover:text-gray-600" href="#">Story</a></li>
          <li><a class="hover:text-gray-600" href="#">Brand</a></li>
        </ul>
        <div class="hidden xl:flex items-center">
          <a class="mr-10 hover:text-gray-600" href="#">
            <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.4998 19.2061L2.70115 9.92527C1.92859 9.14433 1.41864 8.1374 1.24355 7.04712C1.06847 5.95684 1.23713 4.8385 1.72563 3.85053V3.85053C2.09464 3.10462 2.63366 2.45803 3.29828 1.96406C3.9629 1.47008 4.73408 1.14284 5.5483 1.00931C6.36252 0.875782 7.19647 0.939779 7.98144 1.19603C8.7664 1.45228 9.47991 1.89345 10.0632 2.48319L11.4998 3.93577L12.9364 2.48319C13.5197 1.89345 14.2332 1.45228 15.0182 1.19603C15.8031 0.939779 16.6371 0.875782 17.4513 1.00931C18.2655 1.14284 19.0367 1.47008 19.7013 1.96406C20.3659 2.45803 20.905 3.10462 21.274 3.85053V3.85053C21.7625 4.8385 21.9311 5.95684 21.756 7.04712C21.581 8.1374 21.071 9.14433 20.2984 9.92527L11.4998 19.2061Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
          <a class="flex items-center hover:text-gray-600" href="#">
            <svg class="mr-3" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.1159 8.72461H2.50427C1.99709 8.72461 1.58594 9.12704 1.58594 9.62346V21.3085C1.58594 21.8049 1.99709 22.2074 2.50427 22.2074H18.1159C18.6231 22.2074 19.0342 21.8049 19.0342 21.3085V9.62346C19.0342 9.12704 18.6231 8.72461 18.1159 8.72461Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M6.34473 6.34469V4.95676C6.34473 3.85246 6.76252 2.79338 7.5062 2.01252C8.24988 1.23165 9.25852 0.792969 10.3102 0.792969C11.362 0.792969 12.3706 1.23165 13.1143 2.01252C13.858 2.79338 14.2758 3.85246 14.2758 4.95676V6.34469" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <span class="inline-block w-6 h-6 text-center bg-white rounded-full font-semibold font-heading">3</span>
          </a>
        </div>
      </div>
      <a class="hidden xl:flex items-center px-12 border-l font-semibold font-heading hover:text-gray-600" href="#">
        <svg class="mr-3" width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.0006 16.3154C19.1303 16.3154 21.6673 13.799 21.6673 10.6948C21.6673 7.59064 19.1303 5.07422 16.0006 5.07422C12.871 5.07422 10.334 7.59064 10.334 10.6948C10.334 13.799 12.871 16.3154 16.0006 16.3154Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M24.4225 23.8963C23.6678 22.3507 22.4756 21.0445 20.9845 20.1298C19.4934 19.2151 17.7647 18.7295 15.9998 18.7295C14.2349 18.7295 12.5063 19.2151 11.0152 20.1298C9.52406 21.0445 8.33179 22.3507 7.57715 23.8963" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <span>Sign&nbsp;In</span>
      </a>
      <a class="xl:hidden flex mr-6 items-center text-gray-600" href="#">
        <svg class="mr-2" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.1159 8.72461H2.50427C1.99709 8.72461 1.58594 9.12704 1.58594 9.62346V21.3085C1.58594 21.8049 1.99709 22.2074 2.50427 22.2074H18.1159C18.6231 22.2074 19.0342 21.8049 19.0342 21.3085V9.62346C19.0342 9.12704 18.6231 8.72461 18.1159 8.72461Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M6.34473 6.34469V4.95676C6.34473 3.85246 6.76252 2.79338 7.5062 2.01252C8.24988 1.23165 9.25852 0.792969 10.3102 0.792969C11.362 0.792969 12.3706 1.23165 13.1143 2.01252C13.858 2.79338 14.2758 3.85246 14.2758 4.95676V6.34469" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <span class="inline-block w-6 h-6 text-center bg-white rounded-full font-semibold font-heading">3</span>
      </a>
      <a class="navbar-burger self-center mr-12 xl:hidden" href="#">
        <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 2H19C19.2652 2 19.5196 1.89464 19.7071 1.70711C19.8946 1.51957 20 1.26522 20 1C20 0.734784 19.8946 0.48043 19.7071 0.292893C19.5196 0.105357 19.2652 0 19 0H1C0.734784 0 0.48043 0.105357 0.292893 0.292893C0.105357 0.48043 0 0.734784 0 1C0 1.26522 0.105357 1.51957 0.292893 1.70711C0.48043 1.89464 0.734784 2 1 2ZM19 10H1C0.734784 10 0.48043 10.1054 0.292893 10.2929C0.105357 10.4804 0 10.7348 0 11C0 11.2652 0.105357 11.5196 0.292893 11.7071C0.48043 11.8946 0.734784 12 1 12H19C19.2652 12 19.5196 11.8946 19.7071 11.7071C19.8946 11.5196 20 11.2652 20 11C20 10.7348 19.8946 10.4804 19.7071 10.2929C19.5196 10.1054 19.2652 10 19 10ZM19 5H1C0.734784 5 0.48043 5.10536 0.292893 5.29289C0.105357 5.48043 0 5.73478 0 6C0 6.26522 0.105357 6.51957 0.292893 6.70711C0.48043 6.89464 0.734784 7 1 7H19C19.2652 7 19.5196 6.89464 19.7071 6.70711C19.8946 6.51957 20 6.26522 20 6C20 5.73478 19.8946 5.48043 19.7071 5.29289C19.5196 5.10536 19.2652 5 19 5Z" fill="#8594A5"></path>
        </svg>
      </a>
    </nav>
    <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="relative flex flex-col py-6 px-6 h-full w-full bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
          <a class="mr-auto text-3xl font-bold font-heading" href="#">
            <img class="h-9" src="yofte-assets/logos/yofte-logo.svg" alt="" width="auto">
          </a>
          <button class="navbar-close">
            <svg class="h-2 w-2 text-gray-500 cursor-pointer" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.00002 1L1 9.00002M1.00003 1L9.00005 9.00002" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div class="flex mb-8 justify-between">
          <a class="inline-flex items-center font-semibold font-heading" href="#">
            <svg class="mr-3" width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.0006 16.3154C19.1303 16.3154 21.6673 13.799 21.6673 10.6948C21.6673 7.59064 19.1303 5.07422 16.0006 5.07422C12.871 5.07422 10.334 7.59064 10.334 10.6948C10.334 13.799 12.871 16.3154 16.0006 16.3154Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M24.4225 23.8963C23.6678 22.3507 22.4756 21.0445 20.9845 20.1298C19.4934 19.2151 17.7647 18.7295 15.9998 18.7295C14.2349 18.7295 12.5063 19.2151 11.0152 20.1298C9.52406 21.0445 8.33179 22.3507 7.57715 23.8963" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <span>Sign&nbsp;In</span>
          </a>
          <div class="flex items-center">
            <a class="mr-10" href="#">
              <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.4998 19.2061L2.70115 9.92527C1.92859 9.14433 1.41864 8.1374 1.24355 7.04712C1.06847 5.95684 1.23713 4.8385 1.72563 3.85053V3.85053C2.09464 3.10462 2.63366 2.45803 3.29828 1.96406C3.9629 1.47008 4.73408 1.14284 5.5483 1.00931C6.36252 0.875782 7.19647 0.939779 7.98144 1.19603C8.7664 1.45228 9.47991 1.89345 10.0632 2.48319L11.4998 3.93577L12.9364 2.48319C13.5197 1.89345 14.2332 1.45228 15.0182 1.19603C15.8031 0.939779 16.6371 0.875782 17.4513 1.00931C18.2655 1.14284 19.0367 1.47008 19.7013 1.96406C20.3659 2.45803 20.905 3.10462 21.274 3.85053V3.85053C21.7625 4.8385 21.9311 5.95684 21.756 7.04712C21.581 8.1374 21.071 9.14433 20.2984 9.92527L11.4998 19.2061Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
            <a class="flex items-center" href="#">
              <svg class="mr-3" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.1159 8.72461H2.50427C1.99709 8.72461 1.58594 9.12704 1.58594 9.62346V21.3085C1.58594 21.8049 1.99709 22.2074 2.50427 22.2074H18.1159C18.6231 22.2074 19.0342 21.8049 19.0342 21.3085V9.62346C19.0342 9.12704 18.6231 8.72461 18.1159 8.72461Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M6.34473 6.34469V4.95676C6.34473 3.85246 6.76252 2.79338 7.5062 2.01252C8.24988 1.23165 9.25852 0.792969 10.3102 0.792969C11.362 0.792969 12.3706 1.23165 13.1143 2.01252C13.858 2.79338 14.2758 3.85246 14.2758 4.95676V6.34469" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <span class="inline-block w-6 h-6 text-center bg-gray-100 rounded-full font-semibold font-heading">3</span>
            </a>
          </div>
        </div>
        <input class="block mb-10 py-5 px-8 bg-gray-100 rounded-md border-transparent focus:ring-blue-300 focus:border-blue-300 focus:outline-none" type="search" placeholder="Search">
        <ul class="text-3xl font-bold font-heading">
          <li class="mb-8"><a href="#">Category</a></li>
          <li class="mb-8"><a href="#">Collection</a></li>
          <li class="mb-8"><a href="#">Story</a></li>
          <li><a href="#">Brand</a></li>
        </ul>
      </nav>
    </div>
  </section>
 

  <div class="" id="content">

    <section data-section-id="1" data-category="product-info" data-component-id="b9652106_02_awz" class="py-20">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full px-4">
            <ul class="flex flex-wrap mb-8 items-center">
              <li class="mr-5">
                <a class="inline-block mr-5 text-xs font-bold font-heading uppercase text-gray-300" href="#" data-config-id="bread1">HOME</a>
                <span class="inline-block">
                  <svg width="6" height="11" viewbox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-1-2">
                    <path d="M0.131073 0.755835C-0.0436907 0.581885 -0.0436907 0.302414 0.131073 0.129744C0.305837 -0.0429273 0.588197 -0.0435662 0.76296 0.129744L5.86893 5.18707C6.04369 5.35975 6.04369 5.63922 5.86893 5.81317L0.762959 10.8705C0.588196 11.0432 0.305836 11.0432 0.131072 10.8705C-0.0436916 10.6972 -0.0436916 10.4171 0.131072 10.2444L4.78774 5.4998L0.131073 0.755835Z" fill="#151515"></path>
                  </svg>
                </span>
              </li>
              <li class="mr-5">
                <a class="inline-block mr-5 text-xs font-bold font-heading uppercase text-gray-300" href="#" data-config-id="bread2">WATER FILTERS</a>
                <span class="inline-block">
                  <svg width="6" height="11" viewbox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-2-2">
                    <path d="M0.131073 0.755835C-0.0436907 0.581885 -0.0436907 0.302414 0.131073 0.129744C0.305837 -0.0429273 0.588197 -0.0435662 0.76296 0.129744L5.86893 5.18707C6.04369 5.35975 6.04369 5.63922 5.86893 5.81317L0.762959 10.8705C0.588196 11.0432 0.305836 11.0432 0.131072 10.8705C-0.0436916 10.6972 -0.0436916 10.4171 0.131072 10.2444L4.78774 5.4998L0.131073 0.755835Z" fill="#151515"></path>
                  </svg>
                </span>
              </li>
              <li><a class="inline-block text-xs font-bold font-heading uppercase text-gray-300" href="#" data-config-id="bread3">BRILE WATER FILTER CARAFE</a></li>
            </ul>
          </div>
          <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0">
            <div class="flex flex-wrap -mx-1">
              <div class="md:w-full lg:w-1/4 px-1 mb-2 lg:mb-0">
                <div class="flex lg:flex-col lg:h-full justify-between">
                  <a class="block md:w-32 h-32 border border-blue-300" href="#">
                    <img class="w-full h-full p-1 lg:p-0 mr-2 lg:mr-0 object-cover" src="yofte-assets/images/product-bottle.png" alt="" data-config-id="image1">
                  </a>
                  <a class="block md:w-32 h-32 border border-transparent hover:border-gray-400" href="#">
                    <img class="w-full h-full p-1 lg:p-0 mr-2 lg:mr-0 object-cover" src="yofte-assets/images/product-bottle2.png" alt="" data-config-id="image2">
                  </a>
                  <a class="block md:w-32 h-32 border border-transparent hover:border-gray-400" href="#">
                    <img class="w-full h-full p-1 lg:p-0 mr-2 lg:mr-0 object-cover" src="yofte-assets/images/product-bottle3.png" alt="" data-config-id="image3">
                  </a>
                  <a class="block md:w-32 h-32 border border-transparent hover:border-gray-400" href="#">
                    <img class="w-full h-full p-1 lg:p-0 mr-2 lg:mr-0 object-cover" src="yofte-assets/images/product-bottle4.png" alt="" data-config-id="image4">
                  </a>
                </div>
              </div>
              <div class="md:w-full lg:w-3/4 px-1">
                <div class="relative" style="height: 564px;">
                  <a class="absolute top-1/2 left-0 ml-8 transform translate-1/2" href="#">
                    <svg width="10" height="18" viewbox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-3-2">
                      <path d="M9 16.0185C9.268 16.2905 9.268 16.7275 9 16.9975C8.732 17.2675 8.299 17.2685 8.031 16.9975L0.201 9.0895C-0.067 8.8195 -0.067 8.3825 0.201 8.1105L8.031 0.2025C8.299 -0.0675 8.732 -0.0675 9 0.2025C9.268 0.4735 9.268 0.9115 9 1.1815L1.859 8.6005L9 16.0185Z" fill="#1F40FF"></path>
                    </svg>
                  </a>
                  <img class="object-cover w-full h-full" src="yofte-assets/images/product-bottle.png" alt="" data-config-id="auto-img-1">
                  <a class="absolute top-1/2 right-0 mr-8 transform translate-1/2" href="#">
                    <svg width="10" height="18" viewbox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-4-2">
                      <path d="M0.19922 1.1817C-0.0687795 0.909696 -0.0687794 0.472695 0.19922 0.202695C0.46722 -0.0673054 0.90022 -0.0683048 1.16822 0.202695L8.99822 8.11069C9.26622 8.3807 9.26622 8.81769 8.99822 9.08969L1.16822 16.9977C0.900219 17.2677 0.467218 17.2677 0.199219 16.9977C-0.0687809 16.7267 -0.0687808 16.2887 0.199219 16.0187L7.34022 8.5997L0.19922 1.1817Z" fill="#1F40FF"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="w-full lg:w-3/4 mt-12 ml-auto">
                <div class="flex items-center">
                  <span class="mr-8 text-gray-500 font-bold font-heading uppercase" data-config-id="share">SHARE IT</span>
                  <a class="mr-1 w-8 h-8" href="#">
                    <img src="yofte-assets/buttons/facebook-circle.svg" alt="" data-config-id="auto-img-2">
                  </a>
                  <a class="mr-1 w-8 h-8" href="#">
                    <img src="yofte-assets/buttons/instagram-circle.svg" alt="" data-config-id="auto-img-3">
                  </a>
                  <a class="w-8 h-8" href="#">
                    <img src="yofte-assets/buttons/twitter-circle.svg" alt="" data-config-id="auto-img-4">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 px-4">
            <div>
              <div class="mb-10 pb-10 border-b">
                <span class="text-gray-500" data-config-id="label">Brille</span>
                <h2 class="mt-2 mb-6 max-w-xl text-5xl md:text-6xl font-bold font-heading" data-config-id="title">BRILE water filter carafe</h2>
                <div class="mb-8">
                  <button>
                    <img class="h-6" src="yofte-assets/elements/star-gold.svg" alt="" data-config-id="auto-img-5">
                  </button>
                  <button>
                    <img class="h-6" src="yofte-assets/elements/star-gold.svg" alt="" data-config-id="auto-img-6">
                  </button>
                  <button>
                    <img class="h-6" src="yofte-assets/elements/star-gold.svg" alt="" data-config-id="auto-img-7">
                  </button>
                  <button>
                    <img class="h-6" src="yofte-assets/elements/star-gold.svg" alt="" data-config-id="auto-img-8">
                  </button>
                  <button>
                    <img class="h-6" src="yofte-assets/elements/star-gray.svg" alt="" data-config-id="auto-img-9">
                  </button>
                </div>
                <p class="inline-block mb-8 text-2xl font-bold font-heading text-blue-300">
                  <span data-config-id="price">$29.99</span>
                  <span class="font-normal text-base text-gray-400 line-through" data-config-id="price-old">$33.69</span>
                </p>
                <p class="max-w-md text-gray-500" data-config-id="desc">Maecenas commodo libero ut molestie dictum. Morbi placerat eros id porttitor sagittis.</p>
              </div>
              <div class="flex mb-12">
                <div class="mr-6">
                  <span class="block mb-4 font-bold font-heading text-gray-400 uppercase" data-config-id="label1">QTY</span>
                  <div class="inline-flex items-center px-4 font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md">
                    <button class="py-2 hover:text-gray-700">
                      <svg width="12" height="2" viewbox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-5-2"><g opacity="0.35"><rect x="12" width="2" height="12" transform="rotate(90 12 0)" fill="currentColor"></rect></g></svg>
                    </button>
                    <input class="w-12 m-0 px-2 py-4 text-center md:text-right border-0 focus:ring-transparent focus:outline-none rounded-md" type="number" placeholder="1">
                    <button class="py-2 hover:text-gray-700">
                      <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-6-2"><g opacity="0.35"><rect x="5" width="2" height="12" fill="currentColor"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="currentColor"></rect></g></svg>
                    </button>
                  </div>
                </div>
                <div>
                  <span class="block mb-4 font-bold font-heading text-gray-400 uppercase" data-config-id="label2">Size</span>
                  <select class="pl-6 pr-10 py-4 font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" name="" id="">
                    <option value="1">Medium</option>
                    <option value="2">Small</option>
                    <option value="3">Large</option>
                  </select>
                </div>
              </div>
              <div class="flex flex-wrap mb-14 items-center">
                <div class="w-full lg:w-1/2"><a class="block mb-4 lg:mb-0 lg:mr-6 bg-orange-300 hover:bg-orange-400 text-center text-white font-bold font-heading py-5 px-8 rounded-md uppercase transition duration-200" href="#" data-config-id="primary-action">Add to cart</a></div>
                <div class="w-full lg:w-1/2">
                  <a class="flex-shrink-0 flex w-full flex-wrap items-center justify-center w-16 h-16 rounded-md border hover:border-gray-500" href="#">
                    <svg class="-mt-1 mr-2" width="27" height="27" viewbox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-7-2">
                      <path d="M13.4993 26.2061L4.70067 16.9253C3.9281 16.1443 3.41815 15.1374 3.24307 14.0471C3.06798 12.9568 3.23664 11.8385 3.72514 10.8505V10.8505C4.09415 10.1046 4.63318 9.45803 5.29779 8.96406C5.96241 8.47008 6.73359 8.14284 7.54782 8.00931C8.36204 7.87578 9.19599 7.93978 9.98095 8.19603C10.7659 8.45228 11.4794 8.89345 12.0627 9.48319L13.4993 10.9358L14.9359 9.48319C15.5192 8.89345 16.2327 8.45228 17.0177 8.19603C17.8026 7.93978 18.6366 7.87578 19.4508 8.00931C20.265 8.14284 21.0362 8.47008 21.7008 8.96406C22.3654 9.45803 22.9045 10.1046 23.2735 10.8505V10.8505C23.762 11.8385 23.9306 12.9568 23.7556 14.0471C23.5805 15.1374 23.0705 16.1443 22.298 16.9253L13.4993 26.2061Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span class="font-bold font-heading uppercase" data-config-id="secondary-action">Add to wishlist</span>
                  </a>
                </div>
              </div>
              <div class="flex items-center justify-between py-6 border-b">
                <h4 class="text-xl font-bold font-heading" data-config-id="d1">Description</h4>
                <a class="inline-flex items-center justify-center w-12 h-12 border hover:border-gray-500 rounded-md" href="#">
                  <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-8-2"><rect x="5" width="2" height="12" fill="#161616"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="#161616"></rect></svg>
                </a>
              </div>
              <div class="flex items-center justify-between py-6 border-b">
                <h4 class="text-xl font-bold font-heading" data-config-id="d2">Customer reviews</h4>
                <a class="inline-flex items-center justify-center w-12 h-12 border hover:border-gray-500 rounded-md" href="#">
                  <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-9-2"><rect x="5" width="2" height="12" fill="#161616"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="#161616"></rect></svg>
                </a>
              </div>
              <div class="flex items-center justify-between py-6 border-b">
                <h4 class="text-xl font-bold font-heading" data-config-id="d3">Shipping &amp; returns</h4>
                <a class="inline-flex items-center justify-center w-12 h-12 border hover:border-gray-500 rounded-md" href="#">
                  <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-10-2"><rect x="5" width="2" height="12" fill="#161616"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="#161616"></rect></svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script>
  var links = document.getElementsByTagName('a');
  for(var i = 0; i < links.length; i += 1) {
      links[i].addEventListener('click', function(e) {
          e.preventDefault();
      });
  }

  var forms = document.getElementsByTagName('form');
  for(var i = 0; i < forms.length; i += 1) {
      forms[i].addEventListener('submit', function(e) {
          e.preventDefault();
      }, true);
  }
  </script>

</body>
</html>

{% if product|is_in_cart:request.session.cart %}
            <div class="">
                <!-- <form action="/#{{product.id}}" class="col-2 " method="post">
                    {% csrf_token %}
                    <input hidden type="text" name='product' value='{{product.id}}'>
                    <input hidden type="text" name='remove' value='True'>
                    <button type="submit" data-action="decrement"
                        class="px-2 bg-gray-800 text-white  hover:bg-gray-700 w-20 rounded-l cursor-pointer outline-none">
                        <span class="m-auto text-2xl ">−</span>
                    </button>
                </form>
                
                <input type="number"
                class="px-2 py-1 outline-none focus:outline-none text-center w-full bg-gray-300 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none"
                name="custom-input-number" value="{{product|cart_quantity:request.session.cart}}"></input>
                <form action="/#{{product.id}}" class="col-2 " method="post">
                    {% csrf_token %}
                    <input hidden type="text" name='product' value='{{product.id}}'>
                    <button type="submit" data-action="increment"
                        class=" px-2 bg-gray-800 text-white  hover:bg-gray-700  w-20 rounded-r cursor-pointer">
                        <span class="m-auto text-2xl py-1 ">+</span>
                    </button>
                </form> -->
                <form action="/#{{product.id}}" method="POST" class="btn-block">
                    {% csrf_token %}
                    <input hidden type="text" name='product' value='{{product.id}}'>
                    <button type="submit"
                        class="flex items-center justify-center w-full px-2 py-2 mt-4 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-gray-800 rounded-md hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-5 mx-1" viewBox="0 0 24 24"
                            fill="currentColor">
                            <path
                                d="M21,7H7.462L5.91,3.586C5.748,3.229,5.392,3,5,3H2v2h2.356L9.09,15.414C9.252,15.771,9.608,16,10,16h8 c0.4,0,0.762-0.238,0.919-0.606l3-7c0.133-0.309,0.101-0.663-0.084-0.944C21.649,7.169,21.336,7,21,7z M17.341,14h-6.697L8.371,9 h11.112L17.341,14z" />
                            <circle cx="10.5" cy="18.5" r="1.5" />
                            <circle cx="17.5" cy="18.5" r="1.5" />
                        </svg>
                        <span class="mx-1">Go to cart</span>
                    </button>
                </form>
            </div>
            {% else %}
            <form action="/#{{product.id}}" method="POST" class="btn-block">
                {% csrf_token %}
                <input hidden type="text" name='product' value='{{product.id}}'>
                <button type="submit"
                    class="flex items-center justify-center w-full px-2 py-2 mt-4 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-gray-800 rounded-md hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-5 mx-1" width="24" height="24" viewBox="0 0 24 24"
                        fill="currentColor">
                        <path
                            d="M21,7H7.462L5.91,3.586C5.748,3.229,5.392,3,5,3H2v2h2.356L9.09,15.414C9.252,15.771,9.608,16,10,16h8 c0.4,0,0.762-0.238,0.919-0.606l3-7c0.133-0.309,0.101-0.663-0.084-0.944C21.649,7.169,21.336,7,21,7z M17.341,14h-6.697L8.371,9 h11.112L17.341,14z" />
                        <circle cx="10.5" cy="18.5" r="1.5" />
                        <circle cx="17.5" cy="18.5" r="1.5" />
                    </svg>
                    <span class="mx-1">Add to cart</span>
                </button>
            </form>
            {% endif %}


            <section class="bg-white py-8">

              <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">
            
                <nav id="store" class="w-full flex z-30 top-0 px-6 py-1">
                  <div class=" container mx-auto flex  items-center justify-between mt-0 px-2 py-3">
            
                    <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl " href="#">
                      Store
                    </a>
                    <!-- <div id="search-container" class="hidden pt-3 md:pt-0 md:block w-full md:w-1/2 max-w-md mx-auto md:ml-auto order-3">
                      <div class="relative max-w-3xl mx-auto px-6">
                        <div class="absolute h-10 mt-1 left-0 top-0 flex items-center pl-10">
                          <svg class="h-4 w-4 fill-current text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                          </svg>
                        </div>
                        <input id="search-toggle" type="search" placeholder="Enter search term ('/' to focus)" class="block w-full bg-brand-white focus:outline-none focus:bg-white focus:shadow text-gray-700 font-bold rounded-lg pl-12 pr-4 py-3" onkeyup="updateSearchResults(this.value);">
                      </div>
                    </div> -->
                    <div class="flex items-center" id="store-nav-content">
            
                      <!-- <a class="pl-3 inline-block no-underline hover:text-black" href="#">
                                  <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                      <path d="M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z" />
                                  </svg>
                              </a> -->
                      <div class="relative items-center px-4">
                        <span class="absolute inset-y-0 w- flex items-center pl-3">
                          <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24" fill="none">
                            <path
                              d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg>
                        </span>
            
                        <input type="text"
                          class="w-full py-2 pl-10 pr-4 text-gray-700 bg-white border rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-blue-300"
                          placeholder="Search">
                      </div>
                      <a class="pl-3 inline-block no-underline hover:text-black" href="/search">
                        <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                          viewBox="0 0 24 24">
                          <path d="M7 11H17V13H7zM4 7H20V9H4zM10 15H14V17H10z" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </nav>
              </div>
            
            </section>